<div class="card-product">
  <%= image_tag 'client.jpg' %>
  <div class="card-product-infos">
    <h2>Client's name</h2>
    <p>Client description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-product">
  <%= image_tag 'client.jpg' %>
  <div class="card-product-infos">
    <h2>Client's name</h2>
    <p>Client description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-product">
  <%= image_tag 'client.jpg' %>
  <div class="card-product-infos">
    <h2>Client's name</h2>
    <p>Client description with <strong>relevant info</strong> only.</p>
  </div>
</div>
