.footer {
  background: rgba(255, 248, 220, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.55);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgba(159, 128, 73, 1);
  // opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.15;
}
.footer .fa-heart {
  color: #D23333;
  opacity: 0.14;

}
