.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 248, 220, 1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.btn {
  background-color: rgba(159, 128, 73, 1);
  border: none;
  margin-right: 13px;
  border-radius: 4px;
  &:hover {
    background: rgba(245, 199, 26, 1);
  }
}
.recent {
  margin-right: 13px;
}

.who {
  margin-right: 13px;
  margin-left: 25px;
}

.clients {
  margin-right: 30px;
}

.modal-content {
  border-radius: 20px;
  background-color: rgba(255, 248, 220, 1);
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.modal-backdrop.show {
  opacity: 0.3;
}

.btn-position-form {
  width: 100%;
  height: max-content;
}

p {
  padding-left: 100px;
}
